$headerSmartPhoneHeight: 48px;
$headerTabletHeight: 96px;
$headerContentsWidth: 40px;
$mobileBtnWidth: 48px;
$mobileBtnHeight: 32px;
$cGray: #ddd;
$cLightGray: #f0f0f0;
$cBorder: #ccc;
$cText: #222;
$cTextHover: #00a0bb;

@mixin text-hover-color {
  &:hover,
  &.show {
    color: $cTextHover;
  }
}

@mixin triangle {
  &::after {
    position: absolute;
    top: 35%;
    right: 10%;
    content: '';
    border-top: 6px solid $cText;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
  }
}

a {
  color: $cText;
  text-decoration: none;
}

body {
  color: $cText;
}

.header {
  display: flex;
  align-items: center;
  background-color: $cLightGray;
  height: $headerSmartPhoneHeight;
  transition: height 0.5s;
}

.header__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - #{$headerContentsWidth});
  margin: 0 auto;
}

.header__title {
  font-weight: bold;
  font-size: 20px;
  @include text-hover-color();
}

.header__nav {
  display: none;
}

.header__list {
  list-style: none;
  font-weight: bold;
}

.header__item {
  display: inline-block;
  padding: 12px;
  cursor: pointer;
  @include text-hover-color();

  & > a {
    @include text-hover-color();
  }

  &.has-subitem {
    position: relative;
    padding-right: 24px;

    & > p {
      margin: 0;

      @include triangle();
    }

    &:hover,
    &.show {
      background-color: $cGray;
    }
  }
}

.header__sublist {
  position: absolute;
  top: 42px;
  left: 0px;
  display: none;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center;

  &.show {
    display: block;
  }
}

.header__subitem{
  width: 100%;

  & > a {
    display: block;
    padding: 12px;
    background-color: $cLightGray;
    border: 1px solid $cBorder;
  }
}

.mobile__button {
  position: relative;
  width: $mobileBtnWidth;
  height: $mobileBtnHeight;
  border: 1px solid $cBorder;
  border-radius: 4px;
  cursor: pointer;

  & > span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 40%;
    height: 1px;
    background-color: black;
    transform: translate(-50%, -50%);

    &:nth-child(1) {
      top: 30%;
    }
    &:nth-child(3) {
      top: 70%;
    }
  }
}

.mobile__nav {
  position: absolute;
  top: $headerSmartPhoneHeight;
  left: 0;
  display: none;
  width: 100%;

  &.show {
    display: block;
  }
}

.mobile__list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  border-top: 1px solid $cBorder;
}

.mobile__item {
  width: 100%;
  padding-left: calc(#{$headerContentsWidth} / 2);
  margin: 0 auto;
  background-color: $cLightGray;

  & > a,
  & > p {
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 12px;
    @include text-hover-color();
  }

  &.has-subitem {
    @include triangle();

    &::after {
      right: auto;
      left: 96px;
      top: 60px;
    }
  }
}

.mobile__sublist {
  display: none;
  list-style: none;
  padding-left: 0;

  &.show {
    display: block;
  }
}

.mobile__subitem {

  & > a {
    display: block;
    padding: 12px 12px 12px 48px;
    width: 100%;

    @include text-hover-color();
  }
}

@media (min-width: 768px) {
  .header {
    height: $headerTabletHeight;
  }

  .header__nav {
    display: block;
  }

  .mobile__button {
    display: none;
  }

  .mobile__nav {
    display: none !important;
  }
}
